.inline-svg {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    top: 0.15rem;
    position: relative;
}

.inline-svg svg {
    fill: var(--accent)
}

li a {
    font-size: large;
    padding: 1rem 1rem 1rem 0; /* Dont pad the left side with the bullet */
}